name: Test and Release
on:
  push:
    branches:
      - master

jobs:
  test-and-release:
    name: Run tests and release to npm
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install dependencies
        run: yarn install
      - name: Run tests
        run: yarn ci
      - name: Bundle
        run: yarn build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn run semantic-release
      - name: Build Storybook
        run: yarn storybook:export
      - name: Install Surge
        run: npm install -g surge
      - name: Deploy Storybook to Surge
        run: surge ./storybook-static/ konveyor-lib-ui.surge.sh --token ${{ secrets.SURGE_TOKEN }}
